Aluminum conductivity EDA.R
Copper_criteria_results.csv
Copper_data_4_BLM-2025-12-03.csv
Copper_data_4_BLM-2025-12-02.csv
Copper_data_4_BLM-2025-12-02V1.csv
Copper_data_4_BLM-2025-12-03V1.csv
Copper_data_4_BLM-2025-12-03v2.csv
